// default style for an article
// start with a single column grid
// top children have named grid areas

article.calendar {

  // --article-color: var(--color-fg);
  // --article-bg: var(--color-bg);
  //
  // --article-hover-color: var(--color-bg);
  // --article-hover-bg: var(--color-fg);
  > figure {
    background: white;
    width: 100%;
    max-width: 54em;
    max-height: none;
    margin: 1em auto;

    display: block;
    
    .fc-event-container a {
      background: var(--color-2);
      color: var(--color-2-lighter);
      &:hover {
        color: var(--color-2);
        background: var(--color-2-lighter);
      }
    }

  }
}
