/* photon ✴ Event Components and Templates */

// set defaults from simplest to most complex

/* articles/event *****************************/
@import 'articles/event';
/* templates/event *****************************/
@import 'templates/event';

//test
section.calendar {
  width: 100%;
  width: auto;
  flex-flow: column;

  padding: 0;

  #lnb-calendars,
  #calendarList {
    display: flex;
    flex-flow: row;
  }
  #menu {
    display: flex;
    flex-flow: column;
  }
  #menu ul {
    list-style: none;
  }

  .dropdown {
    display: flex;
    flex-flow: row;
    > ul {
      display:flex;

      flex-flow: row;
    }
  }

  #calendar {
    height: 80vh;
    /* max-height: 400px; */
    position: relative;

    > div:nth-child(2) {
      display: none;
    }
  }
  .tui-full-calendar-week-container {
    // display: none;
  }

}
